<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<!-- form_for takes a block with one variable f (for form) -->
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<!-- must pass in form variable f explicitly as a local variable -->

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
